/* Write your CSS here */

.bg-main-container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .main-container {
    width: 80%;
  }
}

.popular-heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .popular-heading {
    font-size: 45px;
  }
}

.tabs-list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}

.repository-item-container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .repository-item-container-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failure-image {
  width: 50%;
  min-width: 180px;
  max-width: 400px;
}

.failure-message {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 26px;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .failure-message {
    font-size: 34px;
  }
  .failure-image {
    max-width: 500px;
  }
}
